ul.fonts {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

li {
    border-color: black;
    border-width: medium;
    border-style: inset;
    padding: 0.1875rem;
    margin: 0.3125rem;
}

ul.scrolling {
    line-height: 0.625rem;
    height: 0.3125rem;
    width: 0.3125rem;
    overflow: auto;
    padding: 0;
    margin: 0;
    border: 0.1875rem black;
    box-sizing: border-box;
}

#searchInput {
    width: 15rem;
    padding: 0.375rem;
    margin-bottom: 0.625rem;
    border: 0.125rem solid green;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    font-family: inherit;
}

#table .tabulator-row {
    cursor: pointer;
}