ul.fonts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

li {
    border-color: black;
    border-width: 3px;
    border-style: inset;
    padding: 3px;
    margin: 5px;
}

ul.scrolling {
    line-height: 28px;
    height: 250px;
    width: 250px;
    overflow: auto;
    padding: 0;
    margin: 0;
    border: 3px black;
    box-sizing: border-box;
}

#searchInput {
    width: 240px;
    padding: 6px;
    margin-bottom: 10px;
    border: 2px solid blue;
    border-radius: 6px;
    font-size: 18px;
    font-family: inherit;
}
